/*
  Overwrite default styles inherited from bootstrap-theme.min.css here
*/

body {
  background: #F7F6F2;
  color: #333;
}

.btn-xs {
	margin-top: -4px;
}

#withdrawal_requests {
	margin-bottom: 1em;
}

.tab-content {
	margin: 1em;
}

.row {
	margin-top: 1em;
	margin-bottom: 1em;
}

select {
	margin-top: 1em;
	margin-bottom: 1em;
}

.nav-tabs {
	margin-top: 2em;
}

.nowrap {
	white-space: nowrap;
}

.btn-default {
	/*background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(142, 201, 25) 100%);*/
	background-image: none;
	background-color: rgb(142, 201, 25);
	color: white;
	text-shadow: none;
}


button[type="button"]:disabled {
	color: #333;
}