body {
  background: #F7F6F2;
  color: #333;
}

table caption {
	font-size: 70%;
}

#button_logout {
	margin-top: -4px;
}

#withdrawal_requests {
	margin-bottom: 1em;
}

.tab-content {
	margin: 1em;
}

.row {
	margin-top: 1em;
	margin-bottom: 1em;
}



/*
ul.nav-tabs li a[href=#transactions]
body {
  background: #F7F6F2;8ec919
  color: #333;
}

input[type="text"], input[type="password"] {
  width: 20ex;
}

select[multiple] {
	display: block;
  width: 100%;
  height: 8em;
}

textarea {
	width: 100%;
	display: block;
}

.container {
	padding: 1em;
}
*/